@page "/counter"
@rendermode InteractiveServer
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<PageTitle>Counter</PageTitle>

<html>
<body>
    <div class="top-black-bar">COOL SITE</div>
    <div class="grey-box">
    <table>
        <tr>
            <th> </th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>

        <tr>
            <td>Lawrence Scott</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>--</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>8:00 AM</td>
        </tr>

        <tr>
            <td>Jane Medina</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>5:00 PM</td>
            <td>--</td>
            <td>9:00 AM</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Billy Mitchell</td>
            <td>9:00 AM</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>2:00 PM</td>
            <td>8:00 AM</td>
        </tr>

        <tr>
            <td>Beverly Reid</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>5:00 PM</td>
            <td>--</td>
            <td>9:00 AM</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Tiffany Wade</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>--</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>8:00 AM</td>
        </tr>

        <tr>
            <td>Sean Adams</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>--</td>
            <td>--</td>
            <td>9:00 AM</td>
            <td>--</td>
            <td>--</td>
        </tr>

        <tr>
            <td>Rachel Simpson</td>
            <td>9:00 AM</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>2:00 PM</td>
            <td>8:00 AM</td>
        </tr>

        <tr>
            <td>Mark Salazar</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>--</td>
            <td>8:00 AM</td>
            <td>--</td>
            <td>5:00 PM</td>
            <td>8:00 AM</td>
        </tr>

    </table>
    </div>
    <div class="grey-box">
        <form>
            <div class="middle-black-bars"> Lawrence Scott</div>
            <label for="fname">Full Name:</label><br>
            <input type="text" id="fname" name="fname"><br>

            <p>Day</p>
            <input type="checkbox" id="Sunday" />
            <label for="Sunday"> S</label>
            <input type="checkbox" id="Monday" />
            <label for="Monday"> M</label>
            <input type="checkbox" id="Tuesday" />
            <label for="Tuesday"> T</label>
            <input type="checkbox" id="Wednesday" />
            <label for="Wednesday"> W</label>
            <input type="checkbox" id="Thursday" />
            <label for="Thursday"> T</label>
            <input type="checkbox" id="Friday" />
            <label for="Friday"> F</label>
            <input type="checkbox" id="Saturday" />
            <label for="Saturday"> S</label>

            <p>Age</p>
            <input type="radio" id="young" name="age" value="0 - 30">
            <label for="young">0 - 30</label><br>
            <input type="radio" id="normal" name="age" value="31 - 60">
            <label for="normal">0 - 30</label><br>
            <input type="radio" id="old" name="age" value="61 - 100">
            <label for="old">0 - 30</label><br>
        </form>
        <form>
            <div class="middle-black-bars"> box 2</div>
        </form>
        <form>
            <div class="middle-black-bars"> box 3</div>
        </form>
    </div>
</body>
</html>

<style>
</style>
